@import './tailwind.css';

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar:horizontal {
  display: none;
}
::-webkit-scrollbar-track {
  background: rgba(16, 16, 16, 0);
  margin: 50px;
}
::-webkit-scrollbar-thumb {
  background: #ffffffa0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #252422;
}
::-webkit-scrollbar-corner {
  display: none; /* Hide the bottom scrollbar */
}

.nunito {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
